In [2]:
import pandas as pd
import numpy as np
import requests
import time

* define function to load a company list and filter for founding year, industry and size

In [3]:
def load_companies(path, filter_year=None, filter_industry=None, filter_size=None):
    df = pd.read_json(path)
    if filter_year:
        f = (str(x) for x in filter_year)
        df = df.loc[df['founded'].isin(f)]
    
    if filter_industry:
        df = df.loc[df['industry'].isin(filter_industry)]
    
    if filter_size:
        size_dict = {10:'1-10',
                     50:'11-50',
                     200:'51-200', 
                     500:'201-500', 
                     1000:'501-1000', 
                     5000:'1001-5000',
                     10000:'5001-10000', 
                     10001:'10001+'
                    }
        f = [size_dict[x] for x in filter_size]
        df = df.loc[df['size'].isin(f)]
    
    return df, np.array(df['id'])

* define function to call accountstory DM-API and create a pandas dataframe

In [4]:
def load_data(company_list, per_page, page):
    url = 'https://accountstory.com/api/v2/decision_makers?api_key=767f0c1a16a6a7efad56234025078d1d425a57de978f699441f9c4912a8531782cdb8d633cf61a14f36d4d9eb4c7838662096b3d424f'
    headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Accept': 'application/json'}
    
    df = pd.DataFrame()
    n = len(company_list)
    for i, company in enumerate(company_list):
        try:
            if i % 100 == 0:
                print(i,'/',n,'---', len(df), 'data points ---', time.strftime('%H:%M'))

            payload = 'company_name=' + company + '&per_page=' + str(per_page) + '&page=' + str(page)
            req = requests.post(url,
                                headers=headers,
                                data=payload
                              )


            records = req.json()['records']
            df_temp = pd.DataFrame(records)
            if not df.empty:
                df = df.append(df_temp, ignore_index = True)
            else:
                df = df_temp
        except: pass
    print('done')
    return pd.DataFrame(df)

* load company dataframe and list (dataset created from https://www.peopledatalabs.com/company-dataset, filtered with MySql such that **only CA companies and only tech**)

In [5]:
company_df, company_list = load_companies('../data/company_list_CA.json', 
                            #filter_year=[2019], 
                            #filter_industry=['information technology and services'], 
                            #filter_size=[500,
                            #             1000]
                           )
company_df

,id,founded,industry,linkedin_url,size,website
0,zennify,2013,computer software,linkedin.com/company/zennify,51-200,zennify.com
1,systech-solutions,1993,information technology and services,linkedin.com/company/systech-solutions,201-500,systechusa.com
2,ixpsoft,2010,computer software,linkedin.com/company/ixpsoft,51-200,myopmo.com
3,continuous-computing,1998,telecommunications,linkedin.com/company/continuous-computing,201-500,ccpu.com
4,koncepteducationinc,2007,e-learning,linkedin.com/company/koncepteducationinc,51-200,keykoncept.com
...,...,...,...,...,...,...
8045,eurisko-mobility,2010,computer software,linkedin.com/company/eurisko-mobility,51-200,euriskomobility.com
8046,usendmoneytransfer,2005,financial services,linkedin.com/company/usendmoneytransfer,51-200,usend.com
8047,sumo-logic,2010,computer software,linkedin.com/company/sumo-logic,501-1000,sumologic.com
8048,california-service-bureau,,financial services,linkedin.com/company/california-service-bureau,51-200,californiaservicebureau.com
8049,justluxe.com,2004,online media,linkedin.com/company/justluxe.com,51-200,justluxe.com

* load data

In [5]:
df = load_data(company_list, 50, 0) # get 50 people for each company

0 / 8050 --- 0 data points --- 16:28
100 / 8050 --- 178 data points --- 16:30
200 / 8050 --- 363 data points --- 16:32
300 / 8050 --- 545 data points --- 16:34
400 / 8050 --- 619 data points --- 16:36
500 / 8050 --- 799 data points --- 16:39
600 / 8050 --- 971 data points --- 16:41
700 / 8050 --- 1076 data points --- 16:43
800 / 8050 --- 1378 data points --- 16:45
900 / 8050 --- 1687 data points --- 16:48
1000 / 8050 --- 1908 data points --- 16:50
1100 / 8050 --- 2203 data points --- 16:52
1200 / 8050 --- 2387 data points --- 16:54
1300 / 8050 --- 2663 data points --- 16:56
1400 / 8050 --- 2914 data points --- 16:59
1500 / 8050 --- 3065 data points --- 17:01
1600 / 8050 --- 3235 data points --- 17:03
1700 / 8050 --- 3399 data points --- 17:05
1800 / 8050 --- 3564 data points --- 17:07
1900 / 8050 --- 3773 data points --- 17:10
2000 / 8050 --- 3941 data points --- 17:12
2100 / 8050 --- 4194 data points --- 17:14
2200 / 8050 --- 4421 data points --- 17:16
2300 / 8050 --- 4563 data points --- 17:18
2400 / 8050 --- 4756 data points --- 17:21
2500 / 8050 --- 4945 data points --- 17:23
2600 / 8050 --- 5174 data points --- 17:25
2700 / 8050 --- 5377 data points --- 17:27
2800 / 8050 --- 5705 data points --- 17:30
2900 / 8050 --- 5880 data points --- 17:32
3000 / 8050 --- 6095 data points --- 17:34
3100 / 8050 --- 6260 data points --- 17:36
3200 / 8050 --- 6349 data points --- 17:38
3300 / 8050 --- 6563 data points --- 17:40
3400 / 8050 --- 6647 data points --- 17:42
3500 / 8050 --- 6841 data points --- 17:45
3600 / 8050 --- 7005 data points --- 17:47
3700 / 8050 --- 7145 data points --- 17:49
3800 / 8050 --- 7178 data points --- 17:51
3900 / 8050 --- 7485 data points --- 17:53
4000 / 8050 --- 7696 data points --- 17:55
4100 / 8050 --- 7824 data points --- 17:57
4200 / 8050 --- 7992 data points --- 17:59
4300 / 8050 --- 8213 data points --- 18:01
4400 / 8050 --- 8412 data points --- 18:04
4500 / 8050 --- 8718 data points --- 18:06
4600 / 8050 --- 8855 data points --- 18:08
4700 / 8050 --- 9040 data points --- 18:10
4800 / 8050 --- 9121 data points --- 18:12
4900 / 8050 --- 9302 data points --- 18:14
5000 / 8050 --- 9584 data points --- 18:17
5100 / 8050 --- 9727 data points --- 18:19
5200 / 8050 --- 9988 data points --- 18:21
5300 / 8050 --- 10230 data points --- 18:23
5400 / 8050 --- 10482 data points --- 18:26
5500 / 8050 --- 10752 data points --- 18:28
5600 / 8050 --- 11034 data points --- 18:30
5700 / 8050 --- 11158 data points --- 18:32
5800 / 8050 --- 11356 data points --- 18:34
5900 / 8050 --- 11623 data points --- 18:36
6000 / 8050 --- 11933 data points --- 18:39
6100 / 8050 --- 12206 data points --- 18:41
6200 / 8050 --- 12351 data points --- 18:43
6300 / 8050 --- 12558 data points --- 18:45
6400 / 8050 --- 12746 data points --- 18:47
6500 / 8050 --- 12911 data points --- 18:49
6600 / 8050 --- 13132 data points --- 18:52
6700 / 8050 --- 13201 data points --- 18:54
6800 / 8050 --- 13312 data points --- 18:56
6900 / 8050 --- 13654 data points --- 18:59
7000 / 8050 --- 13869 data points --- 19:01
7100 / 8050 --- 14009 data points --- 19:03
7200 / 8050 --- 14230 data points --- 19:06
7300 / 8050 --- 14393 data points --- 19:08
7400 / 8050 --- 14605 data points --- 19:10
7500 / 8050 --- 14779 data points --- 19:12
7600 / 8050 --- 14827 data points --- 19:14
7700 / 8050 --- 14956 data points --- 19:17
7800 / 8050 --- 15161 data points --- 19:19
7900 / 8050 --- 15397 data points --- 19:21
8000 / 8050 --- 15550 data points --- 19:24
done

In [7]:
df.to_json('../data/people_list_DM.json')